
body{
    background-color: rgb(232, 248, 247);
  }
  
   /* Animated Background Blobs */
   .blob {
    position: absolute;
    border-radius: 50%;
    filter: blur(80px);
    z-index: -1;
    animation: float 10s infinite alternate;
}
.blob-1 { top: 10%; left: 20%; width: 300px; height: 300px; background: #eabdaf; animation-delay: 0s; }
.blob-2 { bottom: 10%; right: 20%; width: 250px; height: 250px; background: #a8f7e5; animation-delay: 2s; }
.blob-3 { top: 40%; left: 60%; width: 200px; height: 200px; background: #a1dff6; animation-delay: 4s; }

@keyframes float {
    0% { transform: translate(0, 0) scale(1); }
    100% { transform: translate(20px, 40px) scale(1.1); }
}

/* Container for the 3D Scene */
.scene {
    width: var(--card-width);
    height: var(--card-height);
    position: relative;
    z-index: 10;
}

  
  /* Container for the 3D Scene */
  .scene {
    width: var(--box-width);
    height: var(--box-height);
    position: relative;
    z-index: 10;
}
  
  .container{
    position: relative;
    width: 60%;
    height: 400px;
    margin: auto;
    padding: 10px;
    background-color: white;
    border: solid;
    border-color: white;
    border-radius: 5%;
    flex: auto;
    flex-direction: center;
    box-shadow: 15px 15px rgb(197, 197, 197);
    text-align: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .box{
    float: left;
    position: relative;
    width:170px;
    height: 350px;
    border: solid white;
    margin-top: 5px;
    margin-right: 3px;
    padding: 3px;
    justify-content: center;
    align-items: center;
  }
  
  .box1{
    position: relative;
    width: 160px;
    height: 250px;
    margin-bottom: 2px;
    padding: 3px;
    background-color: rgb(17, 137, 158);
    border-radius: 5% 5% 0% 0%;
    box-shadow: 5px 5px 5px 5px rgb(197, 197, 197);
    color: white;
    font-size: small;
    display: inline-block;
    justify-content: center;
    align-items: center;
  }
  
  .box2{
    position: relative;
    width: 160px;
    height: 100px;
    margin-top: 3px;
    margin-bottom: 5px;
    padding: 3px;
    background-color: rgb(17, 137, 158);
    border-radius: 0% 0% 5% 5%;
    box-shadow: 5px 5px 5px 5px rgb(197, 197, 197);
    color: white;
    font-size: x-small;
    align-items: center;
    justify-content: center;
    display: inline-block;
    text-align: center;
  }
  
  .img-box{
  position: relative;
  float: left;
  width: 160px;
  height: 310px;
  text-align: center;
  align-items: center;
  box-shadow: 4px 4px 4px 0px rgb(197, 197, 197);
  margin-right: 5px;
  border-radius: 80px;
  }
   
  img{
    width: 100%;
    height:100%;
    border-radius: 80px;
  }

  img:hover {
    transition: all 0.3s ease;
    transform: scale(1.05);

}
  
  
  .responsive {
    max-width: 100%;
    height: auto;
  }
  
  .info-box{
    position: relative;
    float: left;
    width:300px;
    height:300px;
    border: solid white;
    margin-left: 5px;
    padding-left: 5px;
  }
  
  h3{
 
  font-family:'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  margin-bottom: .2em;
  margin-top: 0%;
  border: solid 2px rgb(17, 137, 158);
  border-radius: 15px;
  border-style:groove;
  background-color:rgb(17, 137, 158) ;
  color:white;
  }
  
  h3:hover {
    transition: all 0.3s ease;
    transform: scale(1.2);
    color:rgb(17, 137, 158);
    background-color: white;
    border: none;

} 


  h5{
    text-align: left;
    margin-bottom: .3em;
    margin-top: .5em;
  }
  
  .location{
     width: 15px;
    height: 15px;
    padding-left: 3px;
    margin-left: 3px;
   
  }

 .location :hover {
    transition: all 0.3s ease;
    transform: scale(1.05);}
  
  .text{
  font-size:x-small;
  color: black;
  text-align: left;
  margin-top: .5em;
  }
  
  ul{
    font-size:small;
    text-align: left;
  }
  
  
  .fa {
    padding: 5px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    display:flex;
  }
  
  /* Add a hover effect */
  .fa:hover {
    opacity: 0.7;
    transition: all 0.3s ease;
    transform: scale(1.05);
  }
  
  .fa-facebook {
    background: #55ACEE;
    color: white;
  }
  
  .fa-linkedin {
    background: #3b93d6;
    color: white;
  }
  
  .material-icons:hover{
        transition: all 0.5s ease;
        transform: scale(1.3);
  }

  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    text-align: center;
  }
  
  .footer a {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
  }
  
  .footer span {
    font-size: 14px;
  }


 
